/* Navbar.css */

.Home {
  display: flex;
  justify-content: space-around;
  background-color: #333;
  padding: 10px;
}

.Home a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
}

.Home a:hover {
  background-color: #555;
  border-radius: 5px;
}

  
  /* Login.css */
  .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-form {
    border: 1px solid #ccc;
    padding: 20px;
    max-width: 400px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  form {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    max-width: 100%;
    height: 300px;
  }
  
  .login-field {
    font-weight: bold;
  
    margin: 5px;
  }
  
  .user-name {
    padding: 10px;
    /* margin-bottom: 10px; */
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 80%;
  }
  
  .login-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .login-btn:hover {
    background-color: #0056b3;
  }
  
  .sign-up-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .signUp-form{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 50px;
  }
  .signUp-form-user{
    padding: 20px;
    font-size: 15px;
    font-family: sans-serif;
    }
    .user-input{
      padding: 10px 15px;
      border-radius:5px;
      border: 1px solid gray;
    }
    .sign-up{
      margin-left:28px;
      padding: 10px 90px;
      background-color: #0056b3;
      color: white;
      border: 1px solid white;
      border-radius:8px;
      font-family: sans-serif;
    }
    .sign-in{
      margin-left:28px;
      padding: 10px 90px;
      background-color:#303030;
      color: white;
      border: 1px solid white;
      border-radius:8px;
      font-family: sans-serif;
    }
  
   /* quiz card parent div css */
  .quiz-cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 50px;
  }

  


  /* QuizCard.css */

.Quiz-container {
  border: 1px solid #ccc;
  padding: 50px;
  margin: 10px;
  text-align: center;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.quiz-heading {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

.quiz-para {
  font-size: 16px;
  margin-bottom: 20px;
}

.quiz-btn {
  background-color: #04aa6d;;
  color: #fff;
  padding: 10px 60px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.quiz-btn:hover {
  background-color: #0056b3;
}
